.main-div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
}

.user-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    width: 400px;
    margin: auto;
    text-align: center;
    background-color: bisque;
}

img {
    width: 250px;
}

h2 {
    font-size: 50px; 
}

p {
    font-size: 30px;
}