body {
    background-color: crimson;
}

container {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

div {
    background-color: ghostwhite;
    width: 280px;
    height: 350px;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.4);
    /* padding: 5px; */
    margin-bottom: 10%;
    margin-top: 5%;
    border-radius: 4px;
    /* margin-left: 5px; */
}

img {
    height: 80%;
}