body {
    /* display: flex; */
    /* flex-direction: column;  */
    background-color: cadetblue;
    
}

img {
    height: 150px;
    width: auto;
}

.card {
    display: flex;
    align-content: center;
}

div {
    padding: 10px;
    background-color: cornsilk;
    margin: 10px;
    flex-direction: row;
    justify-content: space-between;
}