/* Joseph P. Pasaoa
Web Server Intro Lab: Random User Gen
*/

/* CSS RESET -- begin

http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET -- end */



html, body, div#base-grid {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: 'Lato', serif;
}

div#base-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 20fr 1fr;
}

div#stage {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);

  border-top: solid 1px chocolate;
  border-bottom: solid 1px chocolate;
  background-color: #ddd;
}

.male {
  background-image: url('./avatar_male.png');
}
.female {
  background-image: url('./avatar_female.png');
}
div.usercard {
  margin: 34px 22px;
  border: solid 1px silver;
  border-radius: 4px;
  box-shadow: 2px 4px 5px #000;
  padding: 15px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 10fr;

  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 75% 85%;
  background-color: #fff;
}

h1 {
  margin: 8px 21px;

  font-size: 38px;
  font-family: 'Cinzel', serif;
}

div#base-grid > p {
  margin: 3px 21px;
}

h3 {
  font-size: 24px;
  font-family: 'Cinzel', serif;
}

h6 {
  font-size: 14px;
  font-family: 'Cinzel', serif;
}
