body{
  display: flex;
  align-self: auto;
  background-color:goldenrod;
}
button{
  position: absolute;
  margin-left:100px;
  margin-top:100px;
}
.card {
  position: absolute;
  margin-top:200px;
  margin-left: 100px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:50%;
  background-color:white;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
  padding: 2px 16px;
  background-color: bisque;
}
